@charset "utf-8";

/* Sticky footer styles (modify style)
-------------------------------------------------- */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.wrapper {
  /* Padding bottom by footer height */
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eee;
}
